<div #terminalViewPort class="terminal-view-port" (focus)="onViewPortFocus()"  style="position: relative;">
  <div #virtualViewPort  (textInput)="onTextInput($event)" (keydown)="onKeyDown($event)" (compositionstart)="compositionstart($event)" (compositionend)="compositionend($event)" (compositionupdate)="compositionupdate($event)" style="position: absolute; opacity:1; width: inherit; height: inherit; font-size: 0px" tabindex="-1" contenteditable>
  </div>
  <div #terminalCanvas class="terminal-canvas">
    <span class="typing-unit" *ngFor="let item of bf.buf; let i=index" [class.ani-bgchange]="bf.index == i && isViewPortInFocus()"><span *ngIf="bf.index == i && !item.isContainingCharacter">&nbsp;</span><span [innerHtml]="item.html"></span></span>
  </div>
</div>
