.terminal-canvas{
    color: white;
    text-align: left;
}

.terminal-view-port{
    background-color: black;
    overflow-y: auto;
    overflow-wrap: break-word;
    width: 100%;
    height: 100%;
}

.typing-unit{
    font-family: monospace; 
}

/*
 * break lines: https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag
 */
.typing-unit > pre{
    display: inline;
    white-space: pre-wrap;
    word-break: break-all;
}
@keyframes bgchange {
  0% { background: black }
  50% { background: white }
  0% { background: black }
}

.ani-bgchange {
  animation: bgchange 1s infinite;
}

