.terminal-canvas{
    color: white;
    text-align: left;
    word-break: break-all; /* word break is inserted between any two chars */
    display: inline-block;
}

.terminal-view-port{
    background-color: black;
    overflow-y: auto;
    overflow-wrap: break-word;
    min-width: 400px;
    height: 100%;
    display: inline-block;
}

.typing-unit{
    font-family: monospace; 
}

.end-of-line::after{
  content:"\A";
  white-space: pre; /* or pre-wrap */
}

/*
 * break lines: https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag
 */
.typing-unit > pre{
    display: inline;
    white-space: pre-wrap;
    word-break: break-all;
}
@keyframes bgchange {
  0% { background: black }
  50% { background: white }
  0% { background: black }
}

.ani-bgchange {
  animation: bgchange 1s infinite;
}

