<h1>
  Example
</h1>
<div>
  <button [class.viewbutton]="view" (click)="onViewButtonClick()">{{view ? 'View':'Edit'}}</button>  
</div>
<div>
  <button [class.viewbutton]="view" (click)="onAnsiEscapeButtonClick()">{{!ansiEscapeMode ? 'Telnet':'Ansi'}}</button>  
</div>
<div>
* mode: {{ansiEscapeMode ? 'Ansi escape is enabled.' : 'Ansi escape is disabled.' }}<br>
<span *ngIf="ansiEscapeMode">* row: {{bf.getRowCol().row}}, col: {{bf.getRowCol().col}}</span>
</div>
<br>
<div class="terminal">
  <ng-terminal (onInit)="onInit($event)" (onKey)="onKey($event)" [viewMode]="view">
  </ng-terminal>
</div>
