<div #terminalViewPort (window:keydown)="keyDownHandler($event)" class="terminal-view-port" (focus)="setViewPortFocus('focus')" tabindex="-1">
  <div #terminalCanvas class="terminal-canvas">
    <div class="typing-unit">Welcome to JShell!</div>
    <div class="typing-unit">
      <span>jshell> new FileInputStream("")</span>
      <span>$2 ==> java.io.FileInputStream@13805618</span>
    </div>
    <div class="typing-unit">
      <span>jshell> new InputStream("")</span>
      
    </div>

    <div class="typing-unit">
      <span>jshell> new InputStream("")</span>
         </div>
    <div class="typing-unit">
      <span>jshell> new InputStream("")</span>
    </div>
    <div class="typing-unit">
      jshell> <span [innerHTML]="userInput"></span><span [@cursorState]="cursorState" (@cursorState.done)="onDone($event)">_</span>
    </div>
  </div>
</div>
