.terminal-canvas{
    color: white;
    text-align: left;
}

.terminal-view-port{
    background-color: black;
    height: 300px;
    width: 300px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.typing-unit{
    margin: 1em 0px;
    font-family: monospace; 
}

pre{
    margin: 0px;
}
