.terminal-canvas{
    color: white;
    text-align: left;
}

.terminal-view-port{
    background-color: black;
    height: 300px;
    width: 300px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.typing-unit{
    font-family: monospace; 
}

/*
 * break lines: https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag
 */
.typing-unit > pre{
    display: inline;
    white-space: pre-wrap;
    word-break: break-all;
}
