<div (window:keydown)="onKeyDown($event)" class="terminal-view-port" (mouseenter)="setViewPortFocus(true)" (mouseleave)="setViewPortFocus(false)">
  <div #terminalCanvas class="terminal-canvas">
    <pre>Welcome to JShell!</pre>
    <div class="typing-unit">
      <pre>jshell> new FileInputStream("")</pre>
      <pre>$2 ==> java.io.FileInputStream@13805618</pre>
    </div>
    <div class="typing-unit">
      <pre>jshell> new InputStream("")</pre>
    </div>

    <div class="typing-unit">
      <pre>jshell> new InputStream("")</pre>
    </div>
    <div class="typing-unit">
      <pre>jshell> new InputStream("")</pre>
    </div>
    <div class="typing-unit">
      <pre>jshell> <span [innerHTML]="userInput"></span><span [@cursorState]="cursorState" (@cursorState.done)="onDone($event)">_</span></pre>
    </div>
  </div>
</div>
